:local(.wrapper) {
  display: flex;
  background-color: aquamarine;
  color: rgb(40, 40, 40);
}

:local(div) {
  background-color: rgba(213, 240, 255, 0.89);
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

:local(p) {
  color: rgba(255, 90, 90, 0.844);
  /* margin: 20px; */
}
